---

import Layout from '../layouts/Layout.astro';
import Tecnologies from '../components/Tecnologies.astro';

---

<Layout title="Welcome to Astro.">
	<main>
	</main>
</Layout>

<style>
	*,
	main,
	body,
	main,
	html{
		margin: 0;
		padding: 0;
	}

	a{
		text-decoration: none;
	}


	main{
		display: flex;
		flex-direction: column;
	}

</style>
